@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Racing+Sans+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-page {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.nav-logo img {
    max-width: 200px;
    height: 25px;
    display: inline-block;
}
.nav-sidebar a {
  text-decoration: none;
  margin-left: 20px;
}
.nav-sidebar a:first-child {
    margin-left: 0;
}

