@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Racing+Sans+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo {
    width: 10px;
    height: 25px;
    display: block;
}
.nav-sidebar a {
  text-decoration: none;
  01815081542
  01879712566
}
